<h1>Stupid Coaching</h1>

<div class="card question-card">
  <p class="question"><%= @question %></p>
  <p class="author">&mdash;You</p>
</div>
<div class="card answer-card">
  <p class="answer"><%= @answer %></p>
  <p class="author">&mdash;Your coach</p>
</div>

<%= link_to 'Ask a new quetion', '/ask' %>
